* {
  font-family: Georgia, Helvetica, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

a {
  color: navy;
  font-size: 12px;
  padding-top: 10px;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: row;
  background: peachpuff;
}

.main {
  border-radius: 10px;
  box-shadow: 5px 10px 8px 8px #e7e6e6
}

.element {
  padding-top: 5px;
}

img {
  width: 120px;
  height: 150px;
  padding: 20px;
  padding-top: 5px;
}

.location-link {
  display: flex;
  flex-direction: row;
  
  
  max-width: 60%;
  
}

.location {
  font-size: 12px;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: navy;
}

.title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.date {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  max-width: 400px;
  font-size: 12px;
  font-weight: lighter;
  line-height: 1.2;
  color: #346051;
}

.header {
  background: #346051;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px 0 0;
  text-align: center;
  color: white;
}